/* Aqui vai o CSS (estilo) que define
 * cores, fontes, etc.
 */

/* Definição de fontes
 * Use a propriedade 'font-family' no elemento
 * em que deseja aplicá-la */

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../fonts/Inter-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('../fonts/Inter-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('../fonts/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Light';
  src: url('../fonts/Inter-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-ExtraLight';
  src: url('../fonts/Inter-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

/* Estilo que é aplicado caso não haja regra
 * mais específica */
html {
  font-family: 'Inter-Light';
}

/* Classes de estilo que podem se repetir */

h1.subtitle {
  font-family: 'Inter-SemiBold';
  font-size: 24px;
}

/* Título Principal */
h1#title {
  font-family: 'Inter-SemiBold';
  font-size: 2.5em;
}

/* Menu */
header nav#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header nav#menu ul li {
  float: left;
  padding: 20px;
}

header nav#menu ul li a {
  font-family: 'Inter-SemiBold';
  font-size: 0.8em;
  text-decoration: none;
  color: black;
}

/* Seção Sobre Nós */

section#about {
}

section#about p {
  font-family: 'Inter-Light';
  font-size: 12px;
  color: grey;
}

/* Rodapé */
footer ul li a {
  font-size: 0.8em;
  text-decoration: none;
  color: black;
}

